
#wafooter{
    background: black;
    position: fixed;
    bottom: 0px;
    min-height: 80px;
    width: 100%;
    margin: 0;
    
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

 */
    }

.footer-calls{
   margin-right: 20px; 
   align-items: center;
}



.footer-chats{
    margin-left: 20px;
}

.chat-not{
    position: absolute;
    top: -3px;
    right: 7px;
    height: 15px;
    border-radius: 8px;
    background: lightgreen;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.chats, .community, .calls, .status{
    height: 25px;
    border-radius: 20px;
}

.chats-btn, .calls-btn, .community-btn,
 .status-btn{
    border: none;
    border-radius: 20px;
    padding: 3px;
    width: 80px;
    
}

.chats-btn:active{
    background: green;

}

.status-btn:focus{
    background: green;
}

.community-btn:focus{
    background: green;
}

.calls-btn:focus{
    background: green;
}

#wafooter button {
    color: white;
}

.h4calls, .h4chats {
    margin-left: 18px;
}

.h4updates{
        margin-left: 12px;
}

h4{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: none;
    color: white;
}

.footer-calls{
   margin-right: 20px; 
}



.footer-chats{
    margin-left: 20px;
}

.chat-not{
    position: absolute;
    top: -3px;
    right: 7px;
    height: 15px;
    border-radius: 8px;
    background: lightgreen;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.chats, .community, .calls, .status{
    height: 25px;
    border-radius: 20px;
}

.chats-btn, .calls-btn, .community-btn, .status-btn{
    border: none;
    border-radius: 20px;
    padding: 3px;
    width: 80px;
    background: black;
}

a{
    text-decoration: none;
}

